@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root {
  --background-color: hsl(30, 38%, 92%);
}

.App {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App *, .App {
  box-sizing: border-box;

}

.attribution {
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  padding: 0;
  color: grey;
  margin-top: auto;
}

