.card {
    width: 90%;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem 0;
}

@media (min-width: 770px) {
    .card {
        max-height: 600px;
        max-width: 800px;
        align-items: center;
        flex-direction:row;
        margin: 20rem 0;
    }
}